---
import Main from "../../layouts/Main.astro"
---
<Main title="tools">
    <h1>Tools</h1>
    <p>The list of tools here.</p>
    <ul>
        <li>
            <a href="/tools/voicecalculator">Voice Calculator</a>
            <p>Calculates voice parameters based on a recording of your voice.</p>
        </li>
    </ul>
</Main>