html,
body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}
html {
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #efefef,
    #efefef 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

main {
  display: block;
  margin: auto;
  width: 90%;
  padding: 16px;
  border: 4px lightgrey solid;
  border-radius: 16px;
  margin-top: 16px;
  max-width: 720px;
  background-color: white;
}

header {
  background-image:
    radial-gradient(rgb(229, 165, 10) 30%, transparent 30%),
    radial-gradient(rgb(229, 165, 10) 30%, transparent 30%);
  background-position:
    0px 0px,
    12px 12px;
  background-size: 24px 24px;
  background-color: rgb(246, 211, 45);
  padding: 16px;
  width: 100vw;
}

nav {
  width: 100vw;
  padding: 8px;
  padding-left: 16px;
  background-color: orange;
  background-color: rgb(229, 165, 10);
  font-weight: 700;
}

nav a {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 2px 0 #00000080;
}
