---
import Main from "../layouts/Main.astro"
---
<Main title="Home">
	<h1>Welcome!</h1>
	<p>This site contains some tools I've made for the Tomodachi Life series of games.</p>
	<p>If you want to check out the code for this site, here's the <a href="https://github.com/PicelBoi/tomotools">GitHub repository</a>.</p>
	<p>Enjoy!</p>
</Main>
