---
import Image from "astro/components/Image.astro";
import Logo from "../assets/images/logos/TomoTools.svg";
---

<header>
  <a href="/"><Image src={Logo} alt="PicelBoi TomoTools" height={32} /> </a>
</header>
