---
const {title} = Astro.props
---
<html lang="en">
    <head>
        <title>{title} - TomoTools</title>
    </head>
    <body>
        <main>
            <slot></slot>
        </main>
    </body>
</html>