---
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import Tools from "../components/Header.astro"
const {title, description} = Astro.props
---
<!doctype html>
<html lang="en">
    <Head title={title} description={description}></Head>
    <body>
        <Header></Header>
        <main>
            <slot></slot>
        </main>
    </body>
</html>